body {
    font-family: 'Roboto', sans-serif; /* Используем Google Font */
    background-color: #e9ecef; /* Светлый фон */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px; /* Увеличиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 12px; /* Более округлые углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40; /* Темный цвет заголовка */
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px; /* Увеличиваем размер шрифта */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.2s; /* Добавляем эффект трансформации */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

.main {
    padding-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between; /* Центрируем содержимое */
}

.boat-container {
    display: flex;
    justify-content: center;
    background-color: #0c7451; /* Более насыщенный цвет */
    height: 30vh; /* Увеличиваем высоту контейнера для лодок */
    align-items: center; /* Центрируем по вертикали */
}


.boat-container-you {
    color: white;
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(11, 30px);
    text-align: center;
}

.boat-container-enemy {
    color: white;
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(11, 30px);
    text-align: center;
}


.columns {
    background-color: #6c757d; /* Более современный цвет */
    border: 1px solid black;
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.columns-kill {
    background-color: #dc3545; /* Красный цвет для убитых */
}

.columns-set {
    background-color: #ffffff; /* Белый цвет для установленных */
}

.columns:hover {
    background-color: #343a40; /* Темный цвет при наведении */
}

.rows {
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(12, 30px);
}

.text {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; /* Уменьшаем отступы */
}


.boat {
    background-color: #007bff; /* Цвет корабля */
    color: white; /* Цвет текста */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 7px;
}

.occupied {
    background-color: #00bfff; /* Цвет для занятых ячеек */
}